$color-primary: #40AA54;
$color-secondary: #40AA5490;
$color-button-nav: #40AA5425;
$color-button-nav-hover: #40AA5445;
$color-text-normal: #00000085;
$color-green-200: #E2F2E5;
$color-yellow-400: #EFEC2E;
$color-yellow-600: #FEE125;
$color-red-400: #FF4F7A;
$color-red-400-hover: #FF4F7A90;

$font-family-general: 'Francois One';
$font-size-logo: 1.5rem;
$font-size-text-space: 2.5rem;
$font-size-titles: 1rem;
$font-size-numbers: 1.25rem;